{% extends 'base1.html.twig' %}

{% block title %}Ajout produit{% endblock %}

{% block body %}
 <h1>Produit id : {{ produit.id }}</h1>
  Nom du produit : {{ produit.nom }}<br>
  Prix : {{ produit.prix }}<br>
{% endblock %}
